includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - tests

    level: 6

    excludePaths:
        - app/Actions/Fortify
        - app/Http/Controllers/Settings
        - app/Http/Requests/Settings

    ignoreErrors:
        - '#PHPDoc tag @var#'
