includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes

    level: 5

    excludePaths:
        - app/Actions/Fortify
        - app/Http/Controllers/Settings
        - app/Http/Requests/Settings
        - app/Http/Controllers/DashboardController.php
        - database/factories

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Access to an undefined property.*\$pivot#'
        - '#Access to an undefined property.*Pivot::#'
        - '#contains unresolvable type#'
        - '#Parameter.*\$callback.*map\(\) expects#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::userStatuses#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$id#'
